body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    background-color: rgb(255, 212, 219);
    margin: 0;
}
h1{
    font-family: 'Lobster';
    color: rgb(177, 50, 109);
}
h2{
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h3{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
a{
    color: white;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a:visited{
    color: rgb(157, 36, 56);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}
p{
    font-weight: bold;
}
.common{
    border: 2px solid rgb(185, 77, 135);
    padding: 5px;
    margin: 2px;
    text-align: center;
    color: black;
    background-color: white;
    left: 40px;
    right: 40px;
}
.bottom{
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    font-style: italic;
    font-size: 50%;
    background-color: rgb(238, 165, 189);
}
.nav{
    z-index: 1;
    position: absolute;
    float: right;
    top: 0px;
    right: 0px;
    padding: 5px;
    margin: 2px;
}
.header{
    background-color: rgb(239, 144, 160);
    color: white;
    padding: 5px;
    margin: 2px;
    text-align: center;
}
.subheader{
    background-color: rgb(236, 177, 187);
    padding: 5px;
    margin: 2px;
    text-align: center;
}
li{
    text-align: center;
    color: black;
    font-weight: bold;
    background-color: white;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
ol{
    list-style-position: inside; /* Place numbers inside the content area */
    padding: 0; /* Remove extra padding */
    margin: 0; /* Remove extra margin */
    text-align: left; /* Align text and numbers to the left */
    border: 2px solid black;
}
ul{
    list-style-position: inside; /* Keep bullets inside the content box */
    list-style-type: disc;
    padding: 0; /* Remove default padding */
    text-align: center; /* Center align the text */
    justify-content: center;
    align-items: center;
    margin: 0;
    color: black;
    background-color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
 